:root {
    --font-primary: "Baron", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Baron", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Baron";
    font-style: normal;
    font-weight: 300;
    src: url("C:\Users\domin\Downloads\BaronNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: italic;
    font-weight: 300;
    src: url("C:\Users\domin\Downloads\BaronNeue-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: normal;
    font-weight: 400;
    src: url("C:\Users\domin\Downloads\BaronNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: italic;
    font-weight: 400;
    src: url("C:\Users\domin\Downloads\BaronNeue-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: normal;
    font-weight: 500;
    src: url("C:\Users\domin\Downloads\BaronNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: italic;
    font-weight: 500;
    src: url("C:\Users\domin\Downloads\BaronNeue-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: normal;
    font-weight: 600;
    src: url("C:\Users\domin\Downloads\BaronNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: italic;
    font-weight: 600;
    src: url("C:\Users\domin\Downloads\BaronNeue-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: normal;
    font-weight: 700;
    src: url("C:\Users\domin\Downloads\BaronNeue-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Baron";
    font-style: italic;
    font-weight: 700;
    src: url("C:\Users\domin\Downloads\BaronNeue-Italic.woff2") format("woff2");
}